<h2>Nuevo producto - hbs</h2>
<form action="/api/productos" method="POST">
    <input type="text" class="form-control mb-2" placeholder="Titulo" name="Titulo">
    <input type="number" name="Precio" class="form-control mb-2"  placeholder="Precio">
    <input type="text" name="url" class="form-control mb-2"  placeholder="url">
    <button class="btn btn-primary btn-lg active mt-3">Enviar</button>
    
    <div class="mt-3 float-right">
        <a href="/api/productos" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Ver productos</a>
    </div>
</form>
